<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="roomid" content="{{.roomId}}">
    <title>Title</title>

    <style>
        #editor {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>


<div id="editor">
    def test_function():
        print('this function just tests')

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.8.1/ace.js" integrity="sha512-qqjLKA1tYKWxtpKReCrmE8DNYVa+/gNzzeJ6SZaTi+3J+KdTXUlS3AZtcPydvb0rXWtdwE4/KCS4RjfMGeil6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.8.1/theme-twilight.min.js" integrity="sha512-dFk7kcyT/ImbfIW3JcvxjjJ1ZqIxNfUbqn4QoYkkeZsp0h298RuPwy81fF1ZguJp4HbCz4ToDUhl3ajkCVAIBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"></script>
<script>

    const WS_URL = 'ws://127.0.0.1:8080/ws/'
    let myChange = false
    let myLastChange = ""
    const socket = new WebSocket(WS_URL + window.location.pathname.replace('/', ''))

    const editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");


    socket.onmessage = (event) => {
        let deltas = [];
        deltas[0] = JSON.parse(event.data);

        if(!myLastChange.start){
            // myChange = true
            editor.getSession().getDocument().applyDeltas(deltas);
            return;
        }

        else if (myLastChange.start.row===deltas[0].start.row &&
            myLastChange.start.column===deltas[0].start.column &&
            myLastChange.end.row===deltas[0].end.row &&
            myLastChange.end.column===deltas[0].end.column &&
            myLastChange.action===deltas[0].action
            && myLastChange.lines[0]===deltas[0].lines[0]) {
            return
        }
        myChange = true
        editor.getSession().getDocument().applyDeltas(deltas);
        myChange = false

    }

    socket.onerror = (error) => {
        console.error(error)
        socket.close()
    }

    socket.onopen = () => {
        clearInterval(this.timerId)
        console.log('connected to: ' + WS_URL)

        socket.onclose = ()  => {
            this.timerId = setInterval(() => {
                setupWebSocket()
            }, 1000)
        }
    }


    editor.on('change', (val) => {
        if(myChange){return }
        socket.send(JSON.stringify(val))
        myLastChange = val
    })


    // const setupWebSocket = (roomId = undefined) => {
    //     if(!roomId) {
    //         roomId = document.querySelector("meta[name='roomid']").content
    //     }
    //
    // }
</script>

</body>
</html>